{% if can_rate_download(file) %}
<article class="kb-article">
    <div class="rate-article">
        <div class="titled-header">
            <h1>{{ phrase('portal.general.rate-page') }}</h1>
        </div>

        {% if rating %}
            <div class="rate-article {% if rating.positive %}as-positive{% else %}as-negative{% endif %}">
                {% if rating.positive %}
                    {{ phrase('portal.general.rated-positive') }}
                {% else %}
                    {{ phrase('portal.general.rated-negative') }}
                {% endif %}
            </div>
        {% endif %}

        <div class="rate-article">
            <a href="{{ portal_path(file, 'vote_up') }}" class="rate-up post-link">
                {{ phrase('portal.general.rate-page-positive') }} <span>:)</span>
            </a>
            <a href="{{ portal_path(file, 'vote_down') }}" class="rate-down post-link">
                <span>:(</span> {{ phrase('portal.general.rate-page-negative') }}
            </a>
        </div>

        {% if show_rating_counts %}
            <p>{{ phrase('portal.general.rating_x_of_y_found_helpful', { vote_up: rating_counts['positive'], vote_count: rating_counts['total'] }) }}</p>
        {% endif %}
    </div>
</article>
{% endif %}