{# TODO: style not implemented yet #}
{#{% if pager|length > 0 %}#}
  {#<ul class="kb-simple-articles">#}
    {#{% for article in pager %}#}
      {#<li>#}
        {#<a href="{{ portal_path(article) }}">#}
          {#<h1>{{ article.translated_title }}</h1>#}

          {#<div class="article-meta">#}
            {#<span class="updated"><i class="fa fa-calendar-o"></i> {{ article.date_created|date('day') }}</span>#}
            {#<span class="comments"><i class="fa fa-comments"></i> {{ phrase('portal.general.comments-count', {count: article.num_comments}) }}</span>#}
          {#</div>#}
        {#</a>#}
      {#</li>#}
    {#{% endfor %}#}
  {#</ul>#}
  {#{% endif %}#}
{#{% else %}#}
  {#<strong>{{ phrase('portal.articles.none') }}</strong>#}
{#{% endif %}#}
