{% extends 'Theme::layout.html.twig' %}

{% block inner_content %}
<div class="ticket-success-blurb">
    <div class="icon-mark"></div>
    {% if verify_email %}
        <h1>{{ phrase('portal.tickets.thank_you_check_email') }}</h1>
    {% else  %}
        <h1>{{ phrase('portal.tickets.thank_you') }}</h1>
        <p>{{ phrase('portal.tickets.thank_you_desc') }}</p>
    {% endif %}
    <div class="footer">
        {% if is_confirmed_user and create_pw_link %}
            {{ phrase('portal.tickets.thank_you_create_pw_link', { create_pw_link: create_pw_link }) }}
        {% elseif ticket_ref %}
            {{ phrase('portal.tickets.thank_you_ticket_link', { ticket_link: path('portal_tickets_view', { ticket_ref: ticket_ref } ) }) }}
        {% elseif verify_email %}
            <p>{{ phrase('portal.tickets.thank_you_check_email_desc') }}</p>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
    </div>
</div>
{% endblock %}
