{% extends 'Theme::layout.html.twig' %}

{% block page_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>
    {% if auth_manager.isForgotPasswordVisible %}
        <header class="section-header">
            <h1>{{ phrase('portal.account.section-title-reset-password') }}</h1>
        </header>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">{{ phrase('portal.account.reset-password-btn') }}</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock page_content %}
