{% extends 'Theme::layout.html.twig' %}

{% block page_content %}
    <div class="breadcrumbs">
        {% show breadcrumbs %}
    </div>
    {% if auth_manager.isForgotPasswordVisible %}
        <header class="section-header">
            <h1>{{ phrase('portal.account.set-password-request-title') }}</h1>
        </header>

       {{ phrase('portal.account.set-password-request-desc') }}

        {% if render_error %}
            <strong>{{ phrase('portal.account.set-password-invalid-input') }}</strong>
        {% endif %}

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">{{ phrase('portal.account.set-password-btn') }}</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock page_content %}
