{% if impersonation_on %}
    {% set is_agent = impersonator.isAgent() %}
    {% set is_admin = impersonator.isAdmin() %}
{% else %}
    {% set is_agent = is_agent() %}
    {% set is_admin = is_admin() %}
{% endif %}
{#
if impersonation is ON "user" is the user being impersonated
if impersonation is ON "impersonator" is the agent
if impersonation is OFF "user" is the agent
if impersonation is OFF "impersonator" is the agent
#}
{% if is_agent or is_admin %}
<div class="deskpro-agent-top-bar-wrapper" id="agent-bar">

    <div class="deskpro-agent-top-bar">
        <div class="datb-user-impersonator" style="display: none;">
            <i class="fa fa-user"></i>
            <span>impersonation mode off:</span>
            <a href="#" class="datb-user-impersonator-toggle">Turn on</a>
        </div>


        {% if impersonation_on %}
        <div class="datb-user-impersonator on">
            <i class="fa fa-user-secret"></i>
            <span>{{ phrase('portal.general.impersonation_mode') }}: <span class="datb-impersonated-user-email">{{ user.primary_email_address }}</span></span>
            <a href="{{ logout_path('portal') }}&_dp_impersonate_exit=1" class="datb-user-impersonator-toggle"><i class="fa fa-times-circle"></i></a>
        </div>
        {% endif %}

        <div class="datb-interface-switcher">


            <a href="{{ path('agent') }}" id="agent-dropdown-arrow" class="clickaway-dropdown" data-clickaway-target="agent-bar-agent-dropdown">
                <i class="fa fa-users"></i>
                <span class="datb-button-content">
                    <span class="datb-interface-button-title">{{ phrase('portal.general.agent') }}</span>
                    <span class="datb-interface-button-subtitle">{{ phrase('portal.general.agent_bar_agent_desc') }}</span>
                </span>

                <span class="datb-button-dropdown">
                    <i class="fa fa-caret-down"></i>
                </span>
            </a>

            <div id="agent-bar-agent-dropdown" class="datb-dropdown-content" style="display: none;">
                <ul>
                    <li>
                        <a href="{{ path('agent') }}">
                            <i class="fa fa-angle-double-right"></i>
                            {{- phrase('portal.general.agent_bar_agent_home') -}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('agent') }}#app.publish">
                            <i class="fa fa-angle-double-right"></i>
                            {{- phrase('portal.general.agent_bar_agent_kb') -}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('agent') }}#app.publish">
                            <i class="fa fa-angle-double-right"></i>
                            {{- phrase('portal.general.agent_bar_agent_news') -}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('agent') }}#app.publish">
                            <i class="fa fa-angle-double-right"></i>
                            {{- phrase('portal.general.agent_bar_agent_dl') -}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('agent') }}#app.feedback,fb_content">
                            <i class="fa fa-angle-double-right"></i>
                            {{- phrase('portal.general.agent_bar_agent_feedback') -}}
                        </a>
                    </li>
                </ul>
            </div>

            {% if is_admin %}
            <a href="{{ path('admin') }}" id="admin-dropdown-arrow" class="clickaway-dropdown" data-clickaway-target="agent-bar-admin-dropdown">
                <i class="fa fa-columns"></i>
                <span class="datb-button-content">
                    <span class="datb-interface-button-title">{{ phrase('portal.general.admin') }}</span>
                    <span class="datb-interface-button-subtitle">{{ phrase('portal.general.agent_bar_admin_desc') }}</span>
                </span>

                <span class="datb-button-dropdown">
                    <i class="fa fa-caret-down"></i>
                </span>


            </a>
                <div id="agent-bar-admin-dropdown" class="datb-dropdown-content" style="display: none;">
                    <ul>
                        <li>
                            <a href="{{ path('admin') }}">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.admin_home') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/portal/{{ active_brand_id }}/portal_editor">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_portal') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/setup/languages/default">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_lang') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/portal/kb/settings">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_kb') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/portal/news/settings">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_news') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/portal/downloads/settings">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_dl') -}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}#/portal/feedback/settings">
                                <i class="fa fa-angle-double-right"></i>
                                {{- phrase('portal.general.agent_bar_admin_feedback') -}}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
