{% if new_comment_form is defined and new_comment_form != null %}
<div class="form-ticket">
    <div class="single-comment reply">
        <div class="comment-info">
            <span class="avatar">
              <span class="agent-avatar agent-avatar-tiny"><i class="fa fa-user"></i></span>
            </span>
            <span class="author">{{ phrase('portal.general.add-comment') }}</span>
        </div>
        <div class="comment-content">
            <div class="blurb">
                {{ form_start(new_comment_form) }}
                {{ form_rest(new_comment_form) }}
                <div class="bucket form-widget">
                    <button type="submit">{{ phrase('portal.general.comment_btn_save') }}</button>
                </div>
                {{ form_end(new_comment_form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
